{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Список чатов</h3>
      <ul class="list-group">
        {% for chat in chats %}
        <li class="list-group-item">{{ chat.name }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-8">
      <h3>{{ current_chat.name }}</h3>
      {% message in current_chat.messages %}
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0">{{ message.user }} <small><i>{{ message.timestamp }}</i></small></h5>
          <p>{{ message.text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}*